<!DOCTYPE html>
<html lang="en">
<head>
    <script src = "assets/native/js/shared.js"></script>
   <meta charset="UTF-8">
   <title>Check In</title>
    <link rel="icon" href="assets/images/iconChicken.png">
    <link rel="stylesheet" href = "assets/native/css/checkin.css">
    <a class="navbar-brand" href="visitors.html">
        <img src="./../images/NEWLOGO.png" width="150" alt="" />
    </a>
</head>
<body id = 'check-in-page'>

<h1 id = "clock"></h1>
<form class = "check-in">
    <h1>Check in</h1>

</form>

<div id = "tap-to-check">
    <p>Tap to check in</p>
</div>

<script src="assets/js/socket.io.js"></script>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/native/js/checkin.js"></script>

</body>
</html>
